html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  width: 40%;
  box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.your-result {
  border-radius: 2rem;
  padding: 20px;
  background-color: hsl(241, 81%, 54%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  text-align: center;
  width: 45%;
}

.your-result h3 {
  color: hsl(241, 100%, 89%);
}

.score {
  background-color: hsla(241, 72%, 46%, 0);
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  flex-direction: column;
}

.score h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 15px 0 -25px;
}
.score h5 {
  color: hsl(241, 100%, 89%);
}

.caption h5 {
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  margin: -30px 20px 20px;
}

.summary {
  border-radius: 2rem;
  padding: 20px;
  width: 45%;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: hsla(0, 100%, 67%, 0.1);
  border-radius: 10px;
}

li {
  display: inline flex;
  align-items: center;
  float: left;
  list-style-type: none;
  padding: 0 10px;
  gap: 10px;
}

.continue {
  color: white;
  background-color: hsl(224, 30%, 27%);
  padding: 10px 0;
  text-align: center;
  margin: 30px 0 10px;
  border-radius: 20px;
}

.continue:hover {
  background-color: hsl(234, 85%, 45%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
